[Unit]
Description=Personal Drafts Sync Service
After=network.target

[Service]
Type=oneshot
User=ubuntu
ExecStart=/usr/local/bin/pd-pull
ExecStart=/usr/local/bin/pd-push

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
