[Unit]
Description=Personal Drafts Sync Timer
Requires=personal-drafts-sync.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
